{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div id="login">

    <div id="login-image">
        <h1>Get access to free podcasts</h1>
        <img id="img-bottom" src="{{ asset('img/trees.png') }}" alt="Trees">
    </div>
    

    <div id="form-login">

        <div id="login-nav">
            <div id="login-nav-content">
                <h2>No account yet?</h2>
                
                <a href="{{ path('app_register') }}">Create</a>
            </div>
        </div>

        <div id="form-content">
            <form method="post">
                <div id="error_and_messages">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div>
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                </div>

                <div id="emailWrapper">
                    <label for="inputEmail">E-mail</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                </div>

                <div id="passwordWrapper">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                <div>
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>

                <button class="btn btn-lg btn-primary" id="login-btn" type="submit">
                    Sign in
                </button>
            </form>

            <div id="extra_login">
                <h2 id="connect_with_h2">Or connect with</h2>
                <a id="google_button" href="{{ path('connect_google_start') }}"><img src="{{ asset('img/Google-Logo.png') }}" alt="google icon"></a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
