{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet">
    {#<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">#}
{% endblock %}


{% block body %}
<div id="container">
    <div id="section-1">
            <div id="section-1-first">
                
            </div>

            <div id="section-1-second">
                <div id="section-1-content-wrapper">
                    <h1>Podcasts</h1>
                    <div id="section-1-buttons">
                        <a id="section-1-button1" href="/pages/about.html">BROWSE</a>
                        <a id="section-1-button2" href="/pages/about.html">RECORD</a>
                    </div>
                </div>
            </div>
    </div>

    <div id="section-2">

        <hr class="hr-1">

        <h2>Listen to free podcasts or create them to build an awesome community.</h2>

        <div id="section-2-divs">
            <div id="section-2-div1">
                <img class="section-2-img" src="{{ asset('img/icons/community.png') }}" alt="Community">
                <h3 class="section-2-text">"Build a community and gain followers.</h3>
            </div>
                
            <div id="section-2-div2">
                <img class="section-2-img" src="{{ asset('img/icons/headset.png') }}" alt="headset">
                <h3 class="section-2-text">Listen to your podcasts anywhere. Horror stories to science, we have everything you are looking for.</h3>
            </div>

            <div id="section-2-div3">
                <img class="section-2-img" src="{{ asset('img/icons/microphone.png') }}" alt="microphone">
                <h3 class="section-2-text">Become a creator and  publish your own podcasts. Write your ideas and jump into the voice recording. </h3>
            </div>
        </div>
    </div>

    <div id="section-3">
        <div class="section-3-container">
            <h2 id="h2_review"><span id="h2_span_review">Rev</span>iews</h2>
            <div id="reviews">
                <div id="review1">
                    <img src="{{ asset('img/persons/Person1.PNG') }}" alt="Person 1">
                    <h3>‟This is amazing! I can listen to my favorite podcasts, and create my own directly in the studio mode. 😊”</h3>
                </div>

                <div id="review2">
                    <h3>‟I am really happy that I started here as a creator, the tools are amazing and you don't need a lot of knowledges to begin.”</h3>
                    <img src="{{ asset('img/persons/Person2.PNG') }}" alt="Person 2">
                </div>

                <div id="review3">
                    <img src="{{ asset('img/persons/Person3.PNG') }}" alt="Person 3">
                    <h3>‟I use this app everyday, in the bus or at home, and I never run out of podcasts to listen to! 🤗”</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="section-4">
        <div id="player">
            <div id="player-left">
                <img id="music-image" src="{{ asset('img/divbg.png') }}" alt="Music image">
            </div>
            <div id="player-right">

                <p>Titre du podcast</p>

                <div class="volume-container">
                    <img src="{{ asset('img/icons/volumelow.png') }}" alt="volume down" id="volume-down">
                    <input type="range" class="slider" id="volumeslider" min="0" max="100" value="100" step="1">
                    <img src="{{ asset('img/icons/volumehigh.png') }}" alt="volume high" id="volume-high">
                </div>

                <div id="music-title">
                    <h5 id="playlist_status"></h5>
                    <h6 id="playlist_artist"></h6>
                </div>


                <div id="currentTime">
                    <span id="curtimetext">00:00</span>
                    <span id="durtimeText">00:00</span>
                </div>

                <input type="range" clas"seeks1" id="seekslider" min="0" max="100" value="0" step="1">
            
                <div id="buttons">
                    <div>
                        <button class="pre" id="prevbtn"><img src="{{ asset('img/icons/prev.png') }}" alt="previous"></button>
                        <button class="play" id="playbtn"><img src="{{ asset('img/icons/play.png') }}" alt="play"></button>
                        <button class="next" id="nextbtn"><img src="{{ asset('img/icons/next.png') }}" alt="next"></button>
                    </div>
                    <span class="like">
                        <i class="far fa-heart" aria-hidden="true"></i>
                    </span>
                </div>

                <div id="music-menu">
                    <button id="repeat" id="repeat"><img src="{{ asset('img/icons/repeat.png') }}" alt="repetition"></button>
                    <button id="random"><img src="{{ asset('img/icons/random.png') }}" alt="random"></button>
                    <button id="mutebtn"><img src="{{ asset('img/icons/mutebtn.png') }}" alt="mute song"></button>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
